<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Edit Product</title>
</head>
<body>
    <div class="container d-flex flex-column  bg-secondary p-3 rounded " style=" margin-top: 150px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.705); max-width: 400px;">
        <h2 class="text-center">Edit Product</h2>    
        <form class="d-flex flex-column" action="/editproduct/<%=body.id %>" method="POST">
            <input type="text" class="mb-2 text-center " name="name" required placeholder="Name" value='<%=body.name %>'>
            <input type="number" class="mb-2 text-center " name="unitPrice" required placeholder="Unit Price" value='<%=body.unitPrice %>'>
            <input type="number" class="mb-2 text-center "   name="quantity" required placeholder="Quantity" value='<%=body.quantity %>' />
            <input type="text" class="mb-2 text-center " name="code" placeholder="Code" value='<%=body.code %>'>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
    <h3 class="text-center mt-3 mb-3">Developed by <a class="text-secondary " style="text-decoration:none;" href="https://github.com/AugustoBernardes" >Augusto</a></h3>

</body>
</html>